
#body3{
     height: 100vh;
 
    overflow: hidden;
   
    background: linear-gradient(to bottom right,#0E21A0,#0E21A0,#4D2FB2, #B153D7 ,#F375C2,#e68aa0,#cb9ba6b6);
    padding: 40px 20px;
  
       
}




#con{
    border: none;
    background-color: transparent;
    width: fit-content;
}

.fixing{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    padding: 15px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15px;
    display: inline-block;
    margin-top: 15px;

    
}
.fixing:hover{
    color:antiquewhite;
    /* box-shadow: 0 0 12px #C8A2C8; */
    transform: scale(1.15);
    transition: ease-out 0.5s ;
    

}
#links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  margin-left: 100px;
  margin-top: 50px;
}




#finH1,#finH3{
    text-align: center;
    text-emphasis:inherit;
    font-weight: bolder;
    font-size: 35px;
    margin-top: 30px;
    color:antiquewhite;

}
/* ////////////////////////// */
/* ------------------------------------------------------------ */


/* tag style for future idea */
/* .tag{
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px,4px;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
}
.tag.st{
  background-color: #3b82f6;
}
.tag.pr{
  background-color: #ef4444;
} */

/*==============underline animations ;)==========*/
/*==============there are plenty of bugs related to that(the repetition of css) ....i(*we) have to fix this later==========*/
.fixing {
   text-decoration: none;
    color: white;
    font-weight: lighter;
    padding: 15px;
    /* padding-bottom: 8px; */
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15px;
    display: inline-block;
     position: relative;
}

.fixing::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #ff6b6b, #39f694, #12dc4e);
    transition: width 0.4s ease;
    border-radius: 2px;
} 

.fixing:hover::after {
    width: 100%;
}