/* fucking color pallette only file... 
didnt use most of them...+the namings are bad...idc*/

:root {
  /* === Surfaces === */
  --bg-body: #002c93;        
  --bg-sidebar: #020617;    
  --bg-main: #020617;
  --bg-header: #0206176f;
  --bg-panel: #3f4f936a;
  --bg-card: #010f50ab;
  --bg-soft: #827ee864;
  --blue-dark: #1B2A41;
  --dark: #8fbedf;
  --light: #ECF0F1;
  --dark2: #103047;


  /* === Text === */
  --text-main: #e5e7eb;     
  --text-muted: #9ca3af;  
  --text-soft: #b4bac6;
  --text-postTitle: #ffffff;

  /* === Accent  === */
  --accent: #38bdf8;        
  --accent-hover: #0ea5e9;
  --accent-glow: #22d3ee;
  --accent-neon:	#1F51FF;

  /* === Borders & Effects === */
  --border-soft: #6665652f;
  --shadow-soft: 0 10px 30px rgba(0,0,0,0.4);

  /* === Status === */
  --success: #22c55e;
  --warning: #facc15;
  --danger: #ef4444;
}


.light-mode {
  /* === Surfaces === */
  --bg-body: #f1f5f9;
  --bg-sidebar: #e2e8f0;
  --bg-main: #a7cef6;
  --bg-header: #aacbe3de;
  --bg-panel: #ffffff;
  --bg-card: #ffffff;
  --bg-soft: #6bb5df79;
  --blue-dark: #4e698fbf;
  --dark2: #8fbedf;

  /* === Text === */
  --text-main: #020617;
  --text-muted: #475569;
  --text-soft: #64748b;
  --text-postTitle: #000000;

  /* === Accent === */
  --accent: #0315a0;
  --accent-hover: #0369a1;
  --accent-glow: #b0dbed;

  /* === Borders & Effects === */
  --border-soft: rgba(9, 190, 184, 0.46);
  --shadow-soft: 0 8px 20px rgba(12, 142, 248, 0.596);
}
