/* fucking color pallette only file... 
didnt use most of them...+the namings are bad...idc*/

:root[data-theme="dark"]  {
  /* === Surfaces === */
  --bg-body: #002c93;        
  --bg-sidebar: #020617;    
  --bg-main: #020617;
  --bg-header: #0206176f;
  --bg-panel: #3f4f936a;
  --bg-card: #010f50ab;
  --bg-soft: #827ee864;
  --blue-dark: #1B2A41;
  --dark: #568db4;
  --light: #ECF0F1;
  --dark2: #103047;
  --chat-bg:rgba(130, 188, 255, 0.473);


  /* === Text === */
  --text-main: #e5e7eb;     
  --text-muted: #9ca3af;  
  --text-soft: #b4bac6;
  --text-postTitle: #ffffff;
  --text-main-inv: #020617;

  /* === Accent  === */
  --accent: #38bdf8;        
  --accent-hover: #0ea5e9;
  --accent-glow: #22d3ee;
  --accent-neon:	#1F51FF;

  /* === Borders & Effects === */
  --border-soft: #537bc5;
  --shadow-soft: 0 10px 30px rgba(0,0,0,0.4);

  /* === Status === */
  --success: #22c55e;
  --warning: #facc15;
  --danger: #ef4444;
}


:root[data-theme="light"] {
  /* === Surfaces === */
  --bg-body: #f1f5f9;
  --bg-sidebar: #e2e8f0;
  --bg-main: #a7cef6;
  --bg-header: #aacbe3de;
  --bg-panel: #ffffff;
  --bg-card: #ffffff;
  --bg-soft: #6bb5df79;
  --blue-dark: #e2e3e7a8;
  --dark2: #8fbedf;
  --dark: #79c5fc;
  --chat-bg:rgba(48, 103, 165, 0.473);

  /* === Text === */
  --text-main: #020617;
  --text-muted: #030f21;
  --text-soft: #64748b;
  --text-postTitle: #000000;
  --text-main-inv: #ffffff;

  /* === Accent === */
  --accent: #253396;
  --accent-hover: #0369a1;
  --accent-glow: #b0dbed;

  /* === Borders & Effects === */
  --border-soft: rgb(8, 120, 116);
  --shadow-soft: 0 8px 20px rgba(12, 142, 248, 0.596);

   /* === Status === */
  --success: #22c55e;
  --warning: #facc15;
  --danger: #ef4444;
}
