
/* :root {
  --blue-dark: #1B2A41;
  --blue-primary: #2C3E50;
  --blue-secondary: #2471A3;
  --blue-accent: #3498DB;
  --blue-light: #5DADE2;
  --blue-soft: #85C1E9;
  --blue-neon: #1ABC9C;
  --gold: #F1C40F;
  --dark: #8fbedf;
  --light: #ECF0F1;
} */
/* ...............fuck it i'll make a css file for the pallette..... */
#body7 {
  font-family: 'Inter', sans-serif;
  padding: 10px;
   background: linear-gradient(180deg, var(--bg-main), var(--dark) ,var(--blue-dark));
  padding: 30px;
  color: var(--light);
  min-height: 100vh;
  overflow: auto;     
  margin: 0;         
}



.container{
    display: flex;
    width: 100%;
}


/* ===== MAIN ===== */
.main {
  
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
  gap: 25px;
}

/* ===== PROFILE CARD ===== */
.profile-card {
  background: var(--blue-dark);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-left: var(--accent) solid 6px;
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid var(--blue-neon);
  object-fit: cover;
}

.profile-info h2 {
  color: var(--blue-light);
  margin-bottom: 8px;
}

.profile-info p {
  color: #BDC3C7;
  font-size: 14px;
}

/* ===== STATS ===== */
.stats {
    margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 18px;
}

.stat-card {
  background: var(--bg-body);
  border-radius: 18px;
  padding: 22px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0,0,0,.4);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  transform: translateY(0);
  color: var(--text-main);
}

.stat-card:hover {
    transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 40px rgba(4, 219, 239, 0.599);
  border-color: rgba(52, 152, 219, 0.4);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.stat-card span {
  display: block;
  color: var(--text-soft);
  font-size: 14px;
}

.stat-card strong {
  font-size: 26px;
}

/* ===== COURSES (LIKE CARDS) ===== */
.courses {
  background:var(--blue-dark);
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 12px 30px rgba(0,0,0,.4);
    margin-top: 30px;
    height: 250px;
    overflow: auto;
    border-left: var(--accent) solid 6px;
}

.course {
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 14px;
  margin-bottom: 12px;
  border-left: 6px solid var(--accent-glow);
}




/* ===== DELETE ACCOUNT (LIKE SIDEBAR ITEM) ===== */
.delete-item {
  /* margin-top: 60px;  */
  border: 1px solid rgba(255, 0, 0, 1) !important;
  background: rgba(231, 76, 60, 0.08) !important;
}

.delete-item:hover {
  background: rgba(255, 0, 0, 1) !important;
  border-color: rgba(231, 76, 60, 0.8) !important;
  box-shadow: 0 5px 15px rgba(255, 0, 0, 1)!important;
}


