
#body4{
   
    overflow: hidden;
    margin: 0;
    height: 100vh;
    padding: 5px;
   background: linear-gradient(to bottom right, #07319D ,#feb703,#081fee);
   color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
 
}


#field5{
    border: 2px solid #f0f8ff31;
    max-width: 500px;
    margin: 10% auto;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    max-height: 400px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.627);
    background-color: rgba(240, 248, 255, 0.192);


}



.email{
    font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

#backLog, #backHome{
    text-decoration: none;
    color: rgb(7, 6, 6);
    font-weight: lighter;
    padding: 5px;
    font-size: 15px;
    margin-left: 15px;
    display: inline-block;
    color: white;
    
}
#backLog:hover, #backHome:hover{
    
  
    transform: scale(1.05);
    

}

#forgotlinks{
    width: 100%;
   
    color: white;
    display: flex;
    margin-left: 55px;
}

#reset-email{
    width: 80%;
    padding: 6px;
    border-radius: 7px;
    border: 2px solid black;
    height: 10%;
    
    margin-top: 10px;
    margin-bottom: 10px;

}
#btn4{
    width: 80%;
    padding: 6px;
    border-radius: 6px;
    height: 10%;
    margin-left: 3px;
    border: none;
    background: #3B82F6;
    color: whitesmoke;
    font-size: large;

}
#btn4:hover{
    background: linear-gradient(to right, #0a4ddd, #e60808);
}



/* ////////////////////////// */


/* tag style for future idea */
/* .tag{
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px,4px;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
}
.tag.st{
  background-color: #3b82f6;
}
.tag.pr{
  background-color: #ef4444;
} */


 #backLog, #backHome {
   text-decoration: none;
    color: rgb(7, 6, 6);
    font-weight: lighter;
    padding: 15px;
    font-size: 15px;
    margin-left: 15px;
    display: inline-block;
     position: relative;
}

 #backLog::after, #backHome::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #ff6b6b, #39f694, #12dc4e);
     transition: width 0.4s ease;

    
  
}

 #backLog:hover::after, #backHome:hover::after {
    width: 100%;
}

