
.sidebar {
  /* background: linear-gradient(180deg, var(--blue-dark), var(--blue-primary)); */
  border-radius: 20px;
  padding: 30px 10px 30px 0px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.4);
  border: 1px solid rgba(52,152,219,0.3);
  width: 20%;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 25px;
  color: var(--text-muted);
}

.sidebar ul {
  list-style: none;
  margin-right: 5%;
  margin-left: 15px;
  
}

.sidebar li {
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 12px;
  background: var(--bg-soft);
  transition: 0.3s;
  margin-left: 0;
  color: var(--text-main);
 
}
.sidebar li.active {
  background: var(--accent);
  color: #020617;
}
.sidebar li a {
  text-decoration: none;
  color: var(--text-main);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .lgm{
  all: unset; 
    text-decoration: none;
  color: var(--text-main);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  font-size: 16px;
  padding: 0;
}
.sidebar li:hover {
  background: var(--accent-hover);
  transform: translateX(8px);
}